<h1 align="center">List All Articles</h1>
<% if @articles.empty? %>
  <div class="alert alert-info">
    <h3>No Articles to view</h3>
  </div>
<% end %>

<div align="center">
  <%= will_paginate %>
</div>

<%= render 'articles', obj: @articles %>

<div align="center">
  <%= will_paginate %>
</div>
